[client]
port = 3306
socket=/data/mysql/mysql.sock
default-character-set=utf8
[mysqld]
basedir=/usr/local/mysql
datadir=/data/mysql
socket=/data/mysql/mysql.sock
character_set_server=utf8
pid-file=/data/mysql/mysql.pid
log_error=/data/mysql/mysql.log
